/* START Generell */

body {
    font-family: Roboto, serif;
    background-color: #2a2a2a;
}

#Zauberberg {
}

#Spielfeld {
    display: inline-block;
    vertical-align: top;
}

#Aktionsfläche {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

#villages {
    display: inline-block;
    vertical-align: top;
}

#overlayMsg {
    position: absolute;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #828282;
    padding: 50px;
    font-size: 30px;
    line-height: 300px;
}

/* END Generell */

/* START GRID */

#grid {
    width: 800px;
    height: 800px;
}

.StyleContainer {
    position: relative;
}

.feldImg {
    position: absolute;
    top: -40.5px;
    width: 77px;
    height: 77px;
    visibility: visible;
}

#villages {
    width: 100px;
    height: 800px;
}

/* END GRID */

/* START AKTIONSFLÄCHE */

#Spielzustand {
    margin: 10px;
    padding: 15px;
    width: 200px;
    background-color: #454545;
    border-radius: 11px;
    display: inline-block;
}

.spielername {
    margin: 10px 10px 10px 0px;
    font-size: 20px;
}

.spielzustandStein {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.rabeBtn {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    visibility: hidden;
}

#textInfo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.karte {
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 0;
    vertical-align: middle;
}

.karteBild {
    width: 100px;
    height: 100px;
    line-height: 0;
}

.joker {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 1px;
    line-height: 0;
}

.kartenliste {
    width: 600px;
    min-width: 110px;
    min-height: 110px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

/* Button styles */
.button {
    background-color: #311B92;
    border: 2px solid #555555;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.buttondisabled {
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;

}

/* END AKTIONSFLÄCHE */