/* MAIN */
#Zauberberg {
}

#Spielfeld {
    display: inline-block;
    vertical-align: top;
}

#Aktionsfläche {
    display: inline-block;
    vertical-align: top;
}

/* MAIN END */

#grid {
    background-image: url("/Zauberberg/images/grid.png");
    width: 800px; /* Die Breite sollte nach möglichkeit unter 1000px bleiben, damit die Aktionsfläche nicht unter das Feld geschoben wird*/
    height: 800px; /* 800 px ist eine gute Höhe für Bildschirme.*/
    border-right: solid;
    border-bottom: solid;
    border-color: black;
}

#Player {
    background-color: yellow;
    margin-top: 25px;
    height: 37px;
    width: 589px;
    border-style: solid;
    border-color: black;
    color: black;
}

#restartButton {
    height: 39px;
    width: 90px;
    visibility: hidden;
}

#closeButton {
    height: 39px;
    width: 90px;
    visibility: hidden;
}

/* START Style für die Aktionsfläche */
.karte {
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 0;
    vertical-align: middle;
}

.karteBild {
    width: 100px;
    height: 100px;
    line-height: 0;
}

.joker {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 1px;
    line-height: 0;
}

.kartenliste {
    width: 600px;
    min-width: 110px;
    min-height: 110px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

/* Button styles */
.button {
    background-color: #490e2b;
    border: 2px solid #555555;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
}

.button:hover {
    background-color: #555555;
    color: white;
}

/* ENDE Style für die Aktionsfläche */